@import url('https://fonts.googleapis.com/css2?family=Marhey&family=Montserrat&family=Roboto+Mono:ital@1&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-image: url(./images/backgorund\ technology\ dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}

h1{
    text-align: center;
    color: whitesmoke;
    padding-top: 5rem;
    font-size: 7rem;
}

h4{
    text-align: center;
    margin-top: 3rem;
    height: 160px;
    font-size: 4rem;
    color: whitesmoke;
}

button{
    display: block;
    margin: auto;
    padding: 10px 40px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border: 5px solid black;
    border-radius: 999999rem;
    font-size: 1.5rem;
    text-shadow: black 0px 0px 5px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 50px red;
}