@import url('https://fonts.googleapis.com/css2?family=Marhey&family=Montserrat&family=Roboto+Mono:ital@1&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-image: url(./backgorund\ technology\ dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}

h1{
    text-align: center;
    color: whitesmoke;
    padding-top: 5rem;
    font-size: 7rem;
}

h4{
    text-align: center;
    padding: 5rem;
    font-size: 4rem;
}

button{
    
}